@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&family=Space+Mono&display=swap");

.search-input {
  border-radius: 30px;
  font-size: 20px;
  padding: 0 15px;
  margin: 0 10px;
}

.search-form {
  display: flex;
  flex-direction: row;
}

.search-button {
  width: 100px;
  height: 50px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  background-color: #0285f0;
  border-color: #0285f0;
  outline: none;
}

.search-button:active {
  background: #026ac0;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}
